body {
  background-color: #222;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #111;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#chat-container {
  margin-bottom: 20px;
}

.chat-bubble {
  display: inline-block;
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}

.kochi-bubble {
  background-color: #0095ff;
  align-self: flex-start;
}

.user-bubble {
  background-color: #f5f5f5;
  align-self: flex-end;
}

#input-container {
  display: flex;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#send-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0095ff;
  color: #fff;
  border: none;
  margin-left: 10px;
}
